/** CSS for all html files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/** Dimensions of the html document */

html {
  height: 100%;
  width: 100%;
}

/** Dimensions of the body document */

body {
  height: 100%;
  width: 100%;
  background-color: #22232a;
  color: white;
}

/** For all h2 elements in the body */

body h2 {
  text-shadow: 2px 2px 2px black;
  font-family: 'Roboto Slab', serif;
}

/** Global div holding the logo for the the pages */
#navBar {
  position: relative;
  width: 100%;
  height: 8em;
  margin-top: 1em;
}

/** The logo and title of our APP */

#navBar img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

/** The div containing the left side for diagnosis.html and patientprofile.html */

.leftside {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0 2em 1em 4em;
}

/** The div containing the right side for diagnosis.html and patientprofile.html */

.rightside {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0 4em 1em 2em;
}

/** All the h2 elements on the right side of the diagnosis.html and patientprofile.html pages (th headers "Diagnosis", "Symptoms", "Other Findings, and "Exercises") */

.rightside h2 {
  font-size: 22pt;
}

/** Styling of the text areas in the html documents */

.textarea {
  width: 100%;
  height: 10em;
  font-size: 13pt;
  border: solid 3px #29648A;
}

/** Divs for the respective pop-ups of our text boxes */

.popupdiv {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

/** Div class containing the text pop-up and save button in html documents */

.popup {
  height: 35%;
  width: 50%;
  margin: auto;
  transform: translate(0, 90%);
}

/** Class for all the textareas of our specific pop-ups in html documents */

.textareaPopup {
  width: 100%;
  height: 100%;
}

/** Div containing the spans which are used to pull from the database corresponding to the patient's name */

#patientname {
  width: 100%;
}

/** Header describing the patient name on patientprofile.html and diagnosis.html */

#patientname h2 {
  text-align: center;
  font-size: 30pt;
}

/** Class for the pop-up of text areas */

.textareaPopup {
  font-size: 18pt;
}

/** Div that contains the back button, print, and log-out buttons */

#menu {
  width: 100%;
  height: 3.5em;
  overflow: hidden;
  margin: auto;
  background-color: #3C414F;
  border-top: solid 2px #29648A;
  border-bottom: solid 2px #29648A;
}

/** The div for our nav bar */

#back {
  float: left;
  margin: 0 0 0 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/** Styling the buttons within our back button */

#back button {
  background-color: #289CCA;
  color: black;
  font-size: 18pt;
  border: white solid 1px;
  cursor: pointer;
  border-radius: 0.5em;
}

/** Changing the colour of text in our anchor elements of the back buttons that return you to the previous page within the nav bar */
#back a {
  color: black;
}

/** Changing the colour of visited links in our pages */
#back a:visited {
  color: black;
  text-shadow: 2px 2px 2px black;
}

/** The div containing the log out button for the pages */
#log_out {
  float: right;
  margin: 0 2em 0 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/** The log out button for the pages */
#log_out button {
  font-size: 18pt;
  width: 6em;
  border-radius: 0.5em;
  background-color: #289CCA;
}

/** Styling for all anchor elements on the pages to not include underlines */

a {
  text-decoration: none;
}

/** Styling of the save buttons in our text pop-ups */
.popup button {
  font-size: 18pt;
  margin: auto;
  text-align: center;
  background-color: #289CCA;
  width: 100%;
}
