/** CSS for index.html */

/** Div containing a div with the banner */
.top_banner {
  overflow: hidden;
}

/** Div containing the banner of the page */
.banner_container {
  background: url("../images/Banner.png") repeat-x;
    filter: brightness(60%);
  height: 370px;
  width: 1000%;
  animation: slide 60s linear infinite;
}

/** Animation for the banner of the page */
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

/** Firebase log-in entry */
#firebaseui-auth-container {
  font-family: 'Roboto Slab', serif;
    padding: 6em 0em;
    margin-top: -15em;
    width: 100%;
    align-content: center;
    text-align: center;
    display: grid;
}

/** Loader div that is displayed once logging in */
#loader {
  margin-top: 4em;
  font-family: 'Roboto Slab', serif;
     width: 100%;
    height: 10em;
}
