/* CSS for the patientlist.html */


/** Table including the list of patients */
#patients {
  width: 100%;
  background-color: #3C414F;
  border: 1px solid #29648A;
  padding: 1em;
}

/** Giving the td elements text shadows */
body tr td {
  font-family: 'Roboto Slab', serif;
  text-shadow: black 2px 2px 2px;
}

/** Div containing the "Patient List" header
#title {
  margin-left: 5em;
}

/** Header for "Patient List" */
#title h2 {
  font-size: 27pt;
  color: #289CCA;
  text-shadow: black 1px 1px 1px;
}

/**  View buttons in the patient list area */
#patients button {
  font-size: 15pt;
  border-radius: 11px;
  font-family: 'Robato Slab', serif;
  background-color: #289CCA;
  line-height: 2em;
  color: black;
}

/** Anchor elements in the page */
a {
  text-decoration: none;
  color: black;
}

/** Div containing the list of patients */
#listcontainer {
  width: 90%;
  margin: auto;
}

/** Referencing just the categorizing td elements in the table (First Name, Last Name, etc) */
#titles {
  padding-bottom: 0.618em;
  font-weight: bold;
  font-size: 20pt;
  color: #289CCA;
}

/** Changing the size of the td elements int he table */
td {
  font-size: 18pt;
}

/** Changing the colour of the button text to black */
td a:visited {
  color: black;
}
