#patients {
  width: 100%;
  background-color: #3C414F;
  border: 1px solid #29648A;
  padding: 1em;
}

body h1 {
  text-shadow: black 2px 2px 2px;
  font-family: 'Roboto Slab', serif;
}

body tr td {
  font-family: 'Roboto Slab', serif;
  text-shadow: black 2px 2px 2px;
}

body tr td b {
  font-size: 15pt;
}

captions {
  font-weight: bold;
}

#title {
  margin-left: 5em;
}
#title h2 {
  font-size: 27pt;
  color: #289CCA;
  text-shadow: black 1px 1px 1px;
}

#patients button {
  font-size: 15pt;
  border-radius: 11px;
  font-family: 'Robato Slab', serif;
  background-color: #289CCA;
  line-height: 2em;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

#listcontainer {
  width: 90%;
  margin: auto;
}

#titles {
  padding-bottom: 0.618em;
  font-weight: bold;
  font-size: 20pt;
  color: #289CCA;
}

td {
  font-size: 18pt;
}

td a:visited {
  color: black;
}
